body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr.added {
  animation: flash;
  animation-duration: 2s;
}

@keyframes flash {
  0% { opacity: 0; } 
	100% { opacity: 1; }
}
